.spreadsheet {
  overflow-x: scroll;
}

.sheets-wrapper {
  display: flex;
  align-items: flex-start;
  margin-top: 1px;
  padding-left: 24px;
}

.sheet-box {
  border: 1px solid black;
  padding: 8px;
  min-width: 60px;

  font-size: 12px;
  text-align: center;
  font-weight: 700;
}

.sheet-box:hover {
  background-color: #e0e9f7;
}
